.container {
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: default;

    .row {
        display: block;

        .letter {
            height: 100%;
            font-size: 240px;
            text-transform: uppercase;
        }
    }
}